/* Sekce statistik */
.stats-bar {
    background: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(10px) !important;
    padding: 50px 0;
}

/* Box pro každou statistiku */
.stats-box {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: left;
    padding: 10px;
}

/* Ikona */
.icon-img {
    width: 100px;
    height: 100px;
    object-fit: contain; /* Zachování proporcí */
    flex-shrink: 0;
}

/* Číselná statistika */
.counter {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary);
    margin: 0;
}

/* Popis statistiky */
.stats-box p {
    font-size: 1rem;
    margin: 0;
    color: var(--light);
}

/* Responzivní úpravy */
@media (max-width: 768px) {
    .icon-img {
        width: 40px;
        height: 40px;
    }
    .counter {
        font-size: 1.8rem;
    }
    .stats-box {
        padding: 5px;
    }
}
