.card {
    position: relative;
    display: block;
    overflow: hidden;
    transition: box-shadow 0.5s ease-in-out;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

/* Přidání světelného efektu na hover */
.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.4),
        transparent
    );
    transition: 0.5s;
}

.card:hover::before {
    left: 100%;
}

/* Správné měřítko obrázků */
.card-img-top {
    height: 200px; /* Menší obrázky */
    object-fit: cover;
}