.footer {
    color: white;
    font-size: 0.9rem;
    background: linear-gradient(to right, #003366, #00509e);
    padding: 5px 0 !important;
}

.footer .copyright {
    padding: 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .copyright a {
    color: var(--primary);
    text-decoration: none;
}

.footer .copyright a:hover {
    color: #FFFFFF;
}

/* Telefonní odkaz */
.phone-link {
    display: inline; /* Telefonní odkaz je viditelný na všech zařízeních */
}

.phone-text {
    display: none; /* Text je skrytý, protože odkaz je viditelný */
}

/* Responzivní změny pro mobilní zařízení */
@media (max-width: 576px) {
    .phone-link {
        display: inline; /* Odkaz je viditelný */
    }

    .phone-text {
        display: none; /* Text zůstává skrytý */
    }
}

@media (min-width: 577px) {
    .phone-link {
        display: none; /* Odkaz na volání je skrytý na PC */
    }

    .phone-text {
        display: inline; /* Statický text je viditelný na PC */
    }
}
