/* Carousel */
.carousel {
    height: 100vh; /* Celá výška obrazovky */
    position: relative;
}

.carousel-item {
    height: 100%; /* Zajištění plné výšky každého slidu */
}

.carousel-item img {
    object-fit: cover; /* Obrázky budou pokrývat celý slide */
    height: 100%; /* Obrázky se přizpůsobí výšce slidu */
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%); /* Vertikální centrování textu */
    text-align: center;
}

.carousel-caption h1 {
    background-color: rgba(0, 0, 0, 0.6); /* Poloprůhledné pozadí pro čitelnost */
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    font-size: 2rem; /* Přizpůsobení pro lepší čitelnost */
}

/* Responzivní úpravy */
@media (max-width: 768px) {
    .carousel-caption h1 {
        font-size: 1.5rem; /* Menší text na menších zařízeních */
        padding: 15px;
    }
}
