/* Ikony služeb */
.service-icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    border-radius: 50%;
}

.service-icon img {
    max-width: 40px;
    max-height: 40px;
}

/* Texty v sekci */
.service-content h5 {
    font-size: 1.2rem;
    font-weight: 600;
}

.service-content p {
    font-size: 0.95rem;
    margin: 0;
}